.hiw{
    background: white;
    padding: 120px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
}

.button-hiw{
    padding: 20px;
    background-color: #13A078 !important;
    color: white !important;
    border: none !important;
    margin-top: 80px !important;
    padding: 0px 60px !important;
}

.rows{
    display: flex;
    flex-direction: column;
}

.ant-card-body{
    margin-top: -10px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 300 !important;
    letter-spacing: 1px;
}

img{
    padding: 20px;
}