.navbar{
    position: relative;
    z-index: 9999;
    padding: 0 30px;
}

.header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100% !important;

}

.text{
    opacity: 1 !important;
}

a{
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
    color: #303a52 !important;
    font-size: 12px !important;
    font-variant: small-caps !important;
}
